<div class="col-xs-9">
	<div class="content" id="content_communaute_details">

		<section class="section details">
			<div class="row">
				<div class="col-xs-3 col-sm-5">
					<div class="avatar-wrap">
						<img class="avatar" src="img/users/hetta-van-deventer.jpg" alt="Hetta Van Deventer">
					</div>
				</div>
				<div class="col-xs-9 col-sm-7">
					<div class="infos">
						<h1 class="name">Hetta Van Deventer</h1>
						<p class="level">
							<span class="stars">
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>
							</span>
							<span class="status">Expert</span>
						</p>
						<!-- todo -->
						<p class="city"><span class="fwb">Ville : </span>Brive la Gaillarde</p>
						<p class="age"><span class="fwb">Age : </span>35 ans</p>
						<p class="shared"><span class="fwb">Hetta</span> a partagé <span class="nb">3 recettes</span></p>
						<p class="bio"><span class="fwb">BIO : </span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio aspernatur fuga quisquam iusto, eum veniam vel cumque autem assumenda nulla illum accusamus, expedita animi quaerat temporibus saepe magnam, dolor minima.</p>
					</div>
				</div>
			</div>
		</section>

		<!-- Afficher le bloc ci-dessous uniquement si lutilisateur connecté se rend sur sa propre page -->
		<section class="section newrecette">
			<div class="row">
				<div class="col-xs-12">
					<p class="c">Vous en avez sous la toque ?!</p>
					<p class="b">
						<a href="recettes_new.html" class="btn btn_color1"><span class="glyphicon glyphicon-plus-sign"></span><span>Créez une nouvelle recette</span></a>
					</p>
				</div>
			</div>
		</section>

		<section class="section">
			<h2 class="title">~ Les recettes de Hetta ~</h2>
			<div class="recettes row">
				<div class="col-xs-6 col-sm-3 recette" ng-repeat="recipe in recipesList | orderBy:'note' | limitTo:4">
					<recipe-thumbs></recipe-thumbs>
				</div>
			</section>
		</div>
	</div>
</div>