<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="utf-8" />
	<title>NgCooking</title>

	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="c17 engineering" />
	<meta name="copyright" content="c17 engineering" />

	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="HandheldFriendly" content="true" />
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, minimal-ui" />
	<meta name="apple-mobile-web-app-title" content="c17 engineering, recettes de cuisine à partager">
	<meta name="mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-capable" content="yes" />

	<link rel="shortcut icon" href="img/favicon.png" />
	<link rel="image_src" href="img/favicon.png"/>
	<link rel="icon" type="image/png" href="img/favicon.png"/>

	<meta name="robots" content="noindex, nofollow" />

	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800' rel='stylesheet' type='text/css'>

	<link href="css/reset.css" rel="stylesheet" type="text/css" />
	<link href="css/style.css" rel="stylesheet" type="text/css" />

	<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
	<base href="/">

</head>
<body>
	<div ng-app="cookingApp" ng-controller="LayoutController">
		<div id="wrapper">
			<header id="header">
				<cooking-header></cooking-header>
			</header>
			<main id="main">
				<div class="container">
					<div class="row">
						<div class="col-xs-3">
							<menu-nav id="nav">
							<ul class="menu">
								<li class="page_hom active">
									<a href="/home">Accueil</a>
								</li>
								<li class="page_rec">
									<a href="/recettes">Recettes</a>
								</li>
								<li class="page_ing">
									<a href="/ingredients">Ingredients</a>
								</li>
								<li class="page_com">
									<a href="/communaute">Communauté</a>
								</li>
							</ul>
							<div class="account-area">
								<button type="button" class="button connect" data-popin-open="connect_popin"><span class="icon"></span>Connexion</button>
								<a href="communaute_details" class="button account"><span class="icon"></span>Mon profil</a>
								<button type="button" class="button deconnect"><span class="glyphicon glyphicon-off"></span>Deconnexion</button>
							</div>
						</menu-nav>
					</div>
					<ng-view></ng-view>
				</div>
			</div>
		</main>
		<footer id="footer">
			<div class="container">
				<div class="row cuisto-img-wrap">
					<div class="col-xs-3">
						<div class="cuisto-img"></div>
					</div>
					<div class="col-xs-9">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse optio repellat temporibus molestiae ducimus quibusdam eum maiores voluptatum sapiente reprehenderit. Est, modi, tenetur. Tempora perferendis eveniet unde numquam cupiditate nam?</p>
						<div class="hr"></div>
						<p class="copyright">copyright @ngcooking 2015-2016</p>
					</div>
				</div>

			</div>
		</footer>
	</div>

	<div class="popin" data-popin="connect_popin">
	<div class="popin-content">
		<div class="popin-scroll">
			<p class="popin-title">Connexion</p>
			<form action="" novalidate>
				<p>
					<label for="co_user" class="fwb">Identifiant (email)</label>
					<input id="co_user" class="wide" type="text" />
				</p>
				<p>
					<label for="co_pwd" class="fwb">Mot de passe</label>
					<input id="co_pwd" class="wide" type="text" />
				</p>
				<p class="ac nm mt2">
					<button type="button" class="btn btn_big btn_color1"><span class="glyphicon glyphicon-ok"></span><span class="fwb uc">Valider</span></button>
				</p>
			</form>
<br/>
<br/>
			<p class="popin-title">Inscription</p>
			<form action="" novalidate>
				<p>
					<label for="co_user" class="fwb">Identifiant (email)</label>
					<input id="co_user" class="wide" type="text" ng-model="user.email" />
				</p>
				<p>
					<label for="co_pwd" class="fwb">Mot de passe</label>
					<input id="co_pwd" class="wide" type="text" ng-model="user.password"/>
				</p>
				<p class="ac nm mt2">
					<button type="button" class="btn btn_big btn_color1" ng-click="saveUser(user)"><span class="glyphicon glyphicon-ok"></span><span class="fwb uc">Valider</span></button>
				</p>
			</form>
		</div>
		<button class="close popin-close"><span class="glyphicon glyphicon-remove"></span></button>
	</div>
	<div class="popin-backlayer"></div>
</div>
<script type="text/javascript">
	$(function(){
		$("[data-popin-open]").click(function(){
			var popin = $(this).attr("data-popin-open");
			$("[data-popin='"+popin+"']").addClass("displayed");
		});
		$("[data-popin] .popin-backlayer, [data-popin] .popin-close").click(function(){
			$(this).parents(".popin").removeClass("displayed");
		});
	});
</script>

<script type="text/javascript" src="js/angular-1.5.0-rc.0/angular.js"></script>
<script type="text/javascript" src="js/angular-1.5.0-rc.0/angular-route.js"></script>
<script type="text/javascript" src="js/angular-1.5.0-rc.0/angular-resource.js"></script>
<script type="text/javascript" src="js/angular-1.5.0-rc.0/angular-cookies.js"></script>
<script type="text/javascript" src="js/angular-1.5.0-rc.0/angular-mocks.js"></script>
<script type="text/javascript" src="node_modules/requirejs/require.js"></script>
<script type="text/javascript" src="app/app.module.js"></script>
<script type="text/javascript" src="app/app.routes.js"></script>
<script type="text/javascript" src="app/cookingResources.js"></script>
<script type="text/javascript" src="app/cookingServices.js"></script>
<script type="text/javascript" src="app/auth/authController.js"></script>
<script type="text/javascript" src="app/layout/layoutController.js"></script>
<script type="text/javascript" src="/app/layout/directives/header/headerDirective.js"></script>
<script type="text/javascript" src="/app/layout/directives/community/userDirectives.js"></script>
<script type="text/javascript" src="/app/layout/directives/ingredients/ingredientsDirective.js"></script>
<script type="text/javascript" src="/app/layout/directives/menu/menuDirective.js"></script>
<script type="text/javascript" src="/app/layout/directives/recipes/recipeThumbsDirective.js"></script>
<script type="text/javascript" src="/app/layout/directives/UI/recipeNoteDirective.js"></script>


</body>
</html>