<!-- <div class="ing-wrap">
	<div class="top">
		<p class="name">Poulet</p>
		<p class="category">Viandes</p>
		<img class="img" src="img/ingredients/poulet.jpg" alt="Poulet">
		<div class="calories-wrap">
			<div class="val">
				<span>230 kcal</span>
				<div class="battery">
					pourcentage ci-dessous à moduler en fonction du nombre de calories de l'ingredient sur nombre de calories max
					<div class="level" style="width: 60%;"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="bot">
		<p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo pariatur obcaecati ut, sit veniam molestias eius cum. Facere quibusdam laborum doloribus, incidunt omnis ipsum alias vel est molestiae.</p>


// peut être séparer ces 2 la?


		<div class="list">
			<p class="list-title">Aliments similaires</p>
			<ul>
				<li class="item">
					<img class="item-img" src="img/ingredients/boeuf.jpg" alt="Boeuf">
					<p class="item-name" title="Boeuf">Boeuf</p>
				</li>
				<li class="item">
					<img class="item-img" src="img/ingredients/thon.jpg" alt="thon">
					<p class="item-name" title="Thon">Thon</p>
				</li>
				<li class="item">
					<img class="item-img" src="img/ingredients/oeuf.jpg" alt="Oeuf">
					<p class="item-name" title="Oeuf">Oeuf</p>
				</li>
			</ul>
		</div>
	</div>
</div> -->