<nav id="nav">
	<ul class="menu">
		<li class="page_hom active">
			<a href="/home">Accueil</a>
		</li>
		<li class="page_rec">
			<a href="/recettes">Recettes</a>
		</li>
		<li class="page_ing">
			<a href="/ingredients">Ingredients</a>
		</li>
		<li class="page_com">
			<a href="/communaute">Communauté</a>
		</li>
	</ul>
	<div class="account-area">
		<button type="button" class="button connect" data-popin-open="connect_popin"><span class="icon"></span>Connexion</button>
		<a href="communaute_details.html" class="button account"><span class="icon"></span>Mon profil</a>
		<button type="button" class="button deconnect"><span class="glyphicon glyphicon-off"></span>Deconnexion</button>
	</div>
</nav>