<!-- <div class="col-xs-6 col-sm-3 user">
	<a href="communaute_details.html">
		<img src="img/users/hetta-van-deventer_small.jpg" alt="Hetta Van Deventer">
		<div class="text">
			<p class="name">Hetta Van Deventer</p>
			<p class="level">
				<span class="stars">
					<span class="glyphicon glyphicon-star"></span>
					<span class="glyphicon glyphicon-star"></span>
					<span class="glyphicon glyphicon-star"></span>
				</span>
				<span class="status">Expert</span>
			</p>
		</div>
	</a>
</div> -->